<aside class="sidebar column">
    <section class="block block__about">
        {{ site.description }}
    </section>
    <section class="block block__contacts">
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

        {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}

        {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
        {% endif %}
        <p class="rss-subscribe"><a href="{{ '/feed.xml' | relative_url }}">RSS</a></p>
    </section>

    <section class="block block__button">
        {% include button.html %}
    </section>
</aside>