<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}
<style id="style"></style>
<body class="zmeika">
    {% if site.yandex-metrika %}
     {% include yandex-metrika.html %}
    {% endif %}
    <div class="container">
        {% include header.html %}
        <section class="content column">
            {{ content }}
        </section>
        {% include sidebar.html %}
    </div>
    <script src="{{ '/assets/paint.js' | relative_url }}"></script>
</body>
</html>