---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post_header">
    <h1 class="post_title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post_meta"><time datetime="{{ page.date }}" itemprop="datePublished">{{ post.date | date: "%m.%d.%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post_content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
